<section>
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" fxLayoutGap="15px" (ngSubmit)="onLogin()">
        <mat-form-field>
            <mat-label>Your email</mat-label>
            <input type="email" matInput placeholder="example@hotmail.com" formControlName="email">
            <mat-error>Invalid or missing email.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Your password</mat-label>
            <input type="password" matInput placeholder="******" formControlName="password">
            <mat-error>Missing password.</mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
    </form>
</section>








