<mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div ><a routerLink="">Logo</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout class="navigation" fxLayoutGap="10px">
        <li *ngIf="!isAuth">
          <a routerLink="/signup">signup</a>
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/login">login</a>
        </li>
        <li *ngIf="isAuth">
          <a routerLink="/training">training</a>
        </li>
        <li *ngIf="isAuth">
          <a>Logout</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>